body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.suchfuktion {
    margin-bottom: 20px;
    text-align: center;
}

#suchInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

#suchButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#wortDetails {
    display: none;
}